<div class="row marketing">
    <div class="col-sm-4 col-sm-offset-4">
        <form class="well" ng-submit="submit(userCredentials)">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input ng-model="userCredentials.email" type="email" class="form-control" id="emailInput" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input ng-model="userCredentials.username" type="text" class="form-control" id="usernameInput" placeholder="Username" required>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="passwordInput">Password</label>-->
                <!--<input ng-model="userCredentials.password" type="password" class="form-control" id="passwordInput" placeholder="Password">-->
            <!--</div>-->
            <button type="submit" class="btn btn-default btn-block btn-success">Submit</button>
        </form>
    </div>
</div>
