<div ng-controller="CurrentlyLoggedController">
    <h5>{{ user.username + ' (' + user.email + ')'}}</h5>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{ room }}</h1>
        <div id="map_canvas">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-polyline path='runnerRoad'
                                  stroke="stroke"
                                  fit='false'>
                </ui-gmap-polyline>
            </ui-gmap-google-map>
        </div>
    </div>
</div>
<div class="btn btn-default" ng-click="leaveRoom()" ui-sref="rooms">Back to lobby</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <textarea class="form-control" ng-model="newMessage" placeholder="Message"></textarea>
        </div>

        <div class="btn btn-block btn-primary" ng-click="sendMessage()">
            Send message
        </div>
    </div>
</div>
<div class="row marketing">
    <div class="col-sm-6">
        <p ng-repeat="info in logs | reverse">
            <span>{{ info.date | date : 'yyyy-MM-dd HH:mm:ss' }}</span> {{ info.message }}
        </p>
    </div>
    <div class="col-sm-6">
        <p ng-repeat="info in messages | reverse">
            <span>{{ info.date | date : 'yyyy-MM-dd HH:mm:ss' }}</span> <span class="red">({{ info.user }})</span> {{ info.message }}
        </p>
    </div>
</div>
