<div ng-controller="CurrentlyLoggedController">
    <h5>{{ user.username + ' (' + user.email + ')'}}</h5>
</div>
<div class="row">
    <div class="col-sm-3" ng-repeat="room in rooms ">
        <div class="room" ui-sref="details({ roomName: room.creator})" ng-click="joinRoom(room)">
            <h3 class="text-center">{{ room.roomName }}</h3>
            <h4 class="text-center">{{ room.creator }}</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <input class="form-control" ng-model="roomName" placeholder="Nickname">
        </div>

        <div class="btn btn-block btn-primary" ng-disabled="hasRoom" ng-click="createRoom(roomName)">
            Create room
        </div>
    </div>
</div>
<div class="row marketing">
    <div class="col-sm-6">
        <p ng-repeat="info in logs">
            <span>{{ info.date | date : 'yyyy-MM-dd HH:mm:ss' }}</span> {{ info.message }}
        </p>
    </div>
    <div class="col-sm-6">
        <p ng-repeat="info in messages">
            <span>{{ info.date | date : 'yyyy-MM-dd HH:mm:ss' }}</span> <span class="red">({{ info.user }})</span> {{ info.message }}
        </p>
    </div>
</div>
